@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
    background-image: url('../public/assets/backgrounds/Light_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @apply min-h-screen flex
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: rgba(251, 251, 251, 0.63);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3;
}

.customScroll::-webkit-scrollbar {
    width: 0px;
}

.cursorToEnd {
    caret-color: transparent;
    caret-color: initial;
}